/* Reset básico */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #133d12;
  }
  
  /* Container do Chatbot */
  .chat-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(66, 48, 48, 0.1);
    background-color: #f1b0b0;
  }
  
  /* Caixa de Mensagens */
  .chat-box {
    flex: 1;
    overflow-y: auto;
    padding: 15px;
    border-bottom: 1px solid #ddd;
  }
  
  /* Mensagens do Bot e do Usuário */
  .message {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 80%;
    line-height: 1.6;
    font-size: 14px;
  }
  
  .message.user {
    background-color: #bdec99;
    align-self: flex-end;
  }
  

  
  /* Caixa de Entrada */
  .input-box {
    display: flex;
    border-top: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
  }
  
  .input-box input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 14px;
    margin-right: 10px;
  }
  
  .input-box button {
    background-color: #ff0037;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .input-box button:hover {
    background-color: #d13c55;
  }
  .emoji {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 2px;
  }
 /* Estilo dos ícones */
 .icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 8px; /* Espaço entre o ícone e o texto */
  }
  
  /* Estilo do emoji, se usado */
  .emoji {
    width: 30px; /* Ajuste o tamanho conforme necessário */
    height: 24px;
    vertical-align: middle; /* Garante o alinhamento vertical com o texto */
    margin-right: 20px; /* Espaço entre o emoji e o texto */
  }
  /* Estilo para mensagens do bot */
.message.bot {
  background-color: #ddaac6; /* Cor de fundo leve para as mensagens do bot */
  border-radius: 10px;
  padding: 10px;
  margin: 80px;
  height: 60px;
  text-align: center; /* Centraliza o texto e a imagem dentro da div */
}

/* Estilo para a imagem do emoji */
.message.bot .emoji {
  display: block; /* Garante que a imagem seja exibida como bloco */
  margin: 0 auto; /* Centraliza a imagem horizontalmente */
  max-width: 50px; /* Limita o tamanho máximo da imagem */
  height: auto; /* Mantém a proporção da imagem */
}

/* Estilo para o texto dentro da div do bot */
.message.bot span {
  display: block; /* Faz com que o texto ocupe uma nova linha */
  margin-top: 10px; /* Espaço acima do texto */
  font-size: 16px; /* Tamanho do texto */
  color: #1a0303; /* Cor do texto */
}

  
  
  
  
  
  
  
  